<MudDialog>
    <TitleContent>
        <h2>@Title</h2>
    </TitleContent>
    <DialogContent>
        <h4>@ContentText</h4>
    </DialogContent>
    <DialogActions>

        <MudButton 
            OnClick="HandleCancel"
            Variant="Variant.Filled"
            Color="Color.Error">
            Cancel
        </MudButton>

        <MudButton 
            OnClick="HandleSubmit"
            Variant="Variant.Filled"
            Color="@Color">
            @ButtonText
        </MudButton>

    </DialogActions>
</MudDialog>