<MudDialog>
    <TitleContent>
        <h2>@Title</h2>
    </TitleContent>
    <DialogContent>
        <h4>@ContentText</h4>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="@Color" OnClick="Submit">@ButtonText</MudButton>
    </DialogActions>
</MudDialog>