<div>
    <MudPaper Class="menu-container rounded-pill">
        <MudPaper Class="menu-item">
            <MudLink Href="/location" Class="menu-link">
                <MudIcon Icon="@Icons.Material.Outlined.LocationOn" Class="menu-icon" />
                Location
            </MudLink>
        </MudPaper>
        <MudPaper Class="menu-item">
            <MudLink Href="/department" Class="menu-link">
                <MudIcon Icon="@Icons.Material.Outlined.CorporateFare" Class="menu-icon" />
                Department
            </MudLink>
        </MudPaper>
        <MudPaper Class="menu-item">
            <MudLink Href="/personnel" Class="menu-link">
                <MudIcon Icon="@Icons.Material.Outlined.Person" Class="menu-icon" />
                Personnel
            </MudLink>
        </MudPaper>
    </MudPaper>
</div>