::deep .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 125px;
    margin: 25px auto;
    padding: 50px;
    background-color: #373740;
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.7);
}

::deep .menu-item {
    width: 25%;
    border-radius: 20px;
}

::deep .menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--background-light);
    color: var(--mud-palette-text-primary) !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    ::deep .menu-link:hover {
        border: 2px solid white !important;
        color: white !important;
    }

        ::deep .menu-link:hover .menu-icon {
            color: white !important;
        }

::deep .menu-icon {
    font-size: 3rem;
    color: var(--mud-palette-text-primary);
    transition: color 0.3s ease;
}