@page "/personnel"

@using TieghiCorp.UI.Component.Personnel
@using TieghiCorp.UI.Component.Shared.Buttons

<div class="d-flex justify-space-between mt-5">
    <HomeButtonComponent/>
    <MudText Typo="Typo.h3">Personnel</MudText>
    <div></div>
</div>

<div class="table-wrapper">
    <PersonnelTableComponent />
</div>