@page "/departments"

@using TieghiCorp.UI.Component.Department
@using TieghiCorp.UI.Component.Shared.Buttons

<div class="d-flex justify-space-between mt-5">
    <HomeButtonComponent/>
    <MudText Typo="Typo.h3">Departments</MudText>
</div>

<DepartmentTableComponent />