@page "/location"

@using TieghiCorp.UI.Component.Location
@using TieghiCorp.UI.Component.Shared.Buttons


@* <div class="d-flex justify-space-between my-7">
    <HomeButtonComponent/>
    <MudText Typo="Typo.h3">Locations</MudText>
    <div></div>
</div> *@

<div class="table-wrapper">
    <LocationTableComponent />
</div>