@using TieghiCorp.UI.Component.Shared.Buttons
@using TieghiCorp.UI.Core.Models.Abstract

@inherits EditButtonComponent<TModel>
@typeparam TModel

<div>
    <MudTable T="TModel"
        @ref="MudTableRef"
        ServerData="LoadData"
        Hover="true"
        FixedHeader="true"
        SelectOnRowClick="true"
        CommitEditTooltip="Save"
        CanCancelEdit="true"
        IsEditRowSwitchingBlocked="true"
        EditTrigger="TableEditTrigger.EditButton"
        RowEditPreview="BackupItem"
        RowEditCancel="ResetItemToOriginalValues"
        RowEditCommit="ItemHasBeenCommitted">

        <ToolBarContent>
            @ToolBarTemplate
        </ToolBarContent>

        <HeaderContent>
            @HeaderTemplate
        </HeaderContent>

        <RowTemplate>
            @RowTemplate(context)
        </RowTemplate>

        <RowEditingTemplate>
            @RowEditingTemplate(context)
        </RowEditingTemplate>

        <PagerContent>
            <MudTablePager />
        </PagerContent>

        <EditButtonContent Context="button">
            @ButtonContent(button)
        </EditButtonContent>

    </MudTable>
</div>